/* Google Fonts*/

@import url('https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@700&family=Noto+Sans+Display:wdth@75&display=swap');

/* CSS Variables */
:root {
    --primary-font: "Lexend Giga", sans-serif;
    --secondary-font: "Noto Sans Display", sans-serif;
    /*Jet Black*/
    --primary-color: #050606;
    /*Blue Squeeze*/
    --secondary-color: #e7f5f6;
    /*Deep Sea Green*/
    --tertiary-color: #0B5B5B;
    /*Outer Space*/
    --quartary-color: #314143;
}

/* Global Styles */

/* Body Global Styles */
body {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-family: var(--secondary-font);
    margin: 0;
}

/* Heading Global Style */
header {
    background-color: var(--tertiary-color);
    margin: 0;
}

/* Header Global Styles */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--primary-font);
    color: var(--secondary-color);
    text-align: center;
    font-size: 20px;
    padding: 7px 0;
    margin-top: 0;
}

/* Giving the guide a margin */
.guide {
    box-sizing: border-box;
    background-color: var(--tertiary-color);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 1% 3%;
    border-radius: 15px;
    color: var(--secondary-color);
}

/* Putting Quiz Area in a box */
.quiz-area {
    box-sizing: border-box;
    background-color: var(--quartary-color);
    width: 80%;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    padding: 1% 0 4% 0;
    border-radius: 15px;
    text-align: center;
}

/* Change color of paragraphs in quiz-area to help with accessibility */
.quiz-area p {
    color: var(--secondary-color);
}

/* Centralising score-area */
.score-area {
    box-sizing: border-box;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    width: 80%;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    padding: 1%;
    text-align: center;
}

/* Put Scores on same line and spacing them out */
.scores {
    display: inline-block;
    padding-left: 10%;
    padding-right: 10%;
}

/* Give the score number a colour */
#correct {
    color: #678C78;
}

#wrong {
    color: #db4009;
}

/* Style Submit Button */
.submit--btn {
    border-color: var(--primary-color);
    background-color: var(--secondary-color);
    color: var(--quartary-color);
    padding: 6px;
    border-width: 3px;
    border-radius: 5px;
}

.submit--btn:hover {
    background-color: var(--tertiary-color);
    color: var(--secondary-color);
    border-color: var(--secondary-color);
}

/* Give styling to label for answer box  */
.guess {
    color: var(--secondary-color);
}

#answer {
    margin-bottom: 2%;
}

/* Media Queries */

/* Media Query for Tablet (768px) */
@media screen and (min-width: 768px) {

    /* Make body text bigger and more readable */
    body {
        font-size: 20px;
    }

    /* Header font-size */
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: 35px;
    }

    /* Space out scores better on tablets */
    .scores {
        padding-left: 18%;
        padding-right: 18%;
    }

    /* Submit button being as big as the other text */
    .submit--btn {
        font-size: 20px;
    }

    /* Making answer box bigger on tablets */
    #answer {
        height: 25px;
    }

}

/* Media Query for Laptop (1024px) */
@media screen and (min-width: 1024px) {

    /* Make body text bigger and more readable */
    body {
        font-size: 25px;
    }

    /* Submit button being as big as the other text */
    .submit--btn {
        font-size: 25px;
    }

    /* Making answer box bigger on larger screens */
    #answer {
        height: 30px;
    }
    
}

/* Media Query for Large Screens (1440px) */
@media screen and (min-width: 1440px) {

    /* Space out scores better on tablets */
    .scores {
        padding-left: 20%;
        padding-right: 20%;
    }

}